.mr-2 {
    margin-right: 10px;
}

.text-right {
    text-align: right;
}

.jumbotron-form {
    background-color: rgb(212, 178, 232);
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;

}

.jumbotron-list {
    background-color: rgb(15, 14, 15);
    color: white;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding: 10px;
}

.year-filter {
    width: 150px;
}

.budget-data-content {
    background-color: rgb(60, 57, 57);
    border-radius: 10px;
    margin-top: 2%;
    padding: 10px;
}

.budget-date {
    height: 100px !important;
    width: 190px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
}

.budget-price {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(106, 18, 106);
    padding: 10px;
}

.expense-btn {
    background-color: rgb(106, 18, 106);
    color: white;
    border-color: rgb(106, 18, 106);
    margin-top: 10px;
    ;
}

.text-center-hor-ver {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pl-30 {
    padding-left: 30px;
}

.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888888;
    flex: 1;
    outline: 1px solid #888888;
}

.operator {
    background-color: #fe9241;
    color: #ffffff;
}

.input {
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em;
    outline: 1px solid #888888;
}